TestSOAApplication/DesignTimeMDSProject/SOA/apps/TestSOAApplication/BillingSystem/Schemas/BillingSystemBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://practice.com/TestSOAApplication/BillingSystem/BillingSystemBPEL"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="bsRequest">
    <complexType>
      <sequence>
        <element name="orderID" type="string"/>
        <element name="itemInfo" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="itemName" type="string"/>
            <element name="itemCost" type="integer"/>
          </sequence>
        </complexType>
      </element>
      </sequence>
    </complexType>
  </element>
  
  <element name="bsResponse">
    <complexType>
      <sequence>
        <element name="orderID" type="string"/>
        <element name="itemInfo" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="itemName" type="string"/>
            <element name="itemCost" type="integer"/>
          </sequence>
        </complexType>
      </element>
      <element name="tostcost" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>